<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <script src="../js/lib/angular/angular.js"></script>
    <script src="../js/app/login.js"></script>

</head>
<body>
    <div class="loginForm container" ng-app="myApp">
        <div class="loginbody">
            <div class="logo"><img src="../img/feedback.png"/></div>
            <form class="form-horizontal" name="signUp" ng-controller="form">
                <div class="form-group" >
                    
                    <div class=" input_con ">
                    	<div class="username pull-left"></div>
                    	<div class="pull-left">
                    		<input type="text" class="form-control" placeholder="请输入用户名" class="userinput"
                                ng-class="{'form-err':signUp.username.$invalid && signUp.username.$touched ,'form-success':signUp.username.$valid}"
                                name="username" required ng-maxlength ="18" ng-minlength ="4" 
                                ng-model="userdata.username"/>
                    	</div>
                    

                    </div>
                </div>
                <div class="form-group">
                    
                    <div class=" input_con">
                    	<div class="passwo pull-left"></div>
                    	<div class="pull-left">
                    		<input type="password" class="form-control" placeholder="密码" 
                                ng-class="{'form-err':signUp.password.$invalid && signUp.password.$touched ,'form-success':signUp.password.$valid}"
                                name="password" required ng-maxlength ="18" ng-minlength ="6"
                                ng-model="userdata.password"/>
                    	</div>
                      
                        
                    </div>
                </div>
                <div class="tis">
                	<p class="form-iferr" ng-if="signUp.username.$error.required && signUp.username.$touched">用户名不能为空</p>
                	<p class="form-iferr" ng-if="(signUp.password.$error.minlength||signUp.password.$error.maxlength) && signUp.password.$touched">密码长度在6-18位之间</p>
                </div>

               	<div class="sign">
               		<button class="btn btn-info btn-lg sign_btn">登陆</button>
               	</div>
            </form>
        </div>
    </div>
</body>
</html>