**/target/
**/public/ng/modules/**/dist/
**/bower_components/
**/.sass-cache/
**/node_modules/
nodeapp/public/ng/modules/user/lib/
**/.gulp-scss-cache/
**/app/css/sass/*.css
**/app/css/sass/*.css.map
**/app/sass/*.css
**/app/sass/*.css.map
java/.idea/
java/src/main/webapp/public/js/lib
java/gradle
java/gradlew
java/gradlew.bat
java/classes/
java/build/
java/src/main/resources/rebel.xml
**/.gradle/
**/build/
**/feeback.iml
**/.idea/
.idea/
design/psd/
