*{
    margin: 0;padding: 0;font-size: 14px;
}
body{
    ul li{list-style: none;}
    a{text-decoration: none;}
    img{border: none;}
}
header{
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 990;
    height: 116px;
    line-height: 116px;
    .logo{
        background: #29b8f4;
        height: 70px;
       
      img{margin: 15px 50px;}
        .search {
            position: absolute;
            right: 80px;
            top: 10px;
            input{
                  height: 35px;
                  border: none;
            }
        }
    }
    

    .notice{height: 30px;line-height: 30px;background: #feaa50;p{margin-left: 250px;}}
}

.wrapbody{
    .menu{
        left: 0;
        width: 180px;
        right: 180px;
        padding: 0;
        position: fixed;
        z-index: 990;
        background: #063346;
        top: 100px;
        bottom: 0;

        ul li{
            &.li-root{
                a{
                    display: inline-block;
                    height: 30px;
                    line-height: 30px;
                    width: 100%;
                    text-decoration: none;
                   padding-left: 20px;
                    color: #fff;
                    span{
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                       
                    }
                    .icon_right{background: url(/html/web/feedback/img/sanjiao2.png) center no-repeat;}
                    .icon_bonton{background: url(/html/web/feedback/img/sanjiao1.png) center no-repeat;}
                     
                }
            }
            &.li-sec{
                text-indent: 10px;
                background: #114960;
                &.active{
                    background: #29b8f4 ;
                }
                
            }
        }
    }
    .content{
        margin-top: 100px;
        margin-left: 230px;
        width: 85%;
        .mainbody{
            .mainbody-top{border-bottom: 1px solid #ccc;height: 70px;}
            margin-top: 30px;
            h5{
                background: url(../img/zs.png) no-repeat 0 5px ;
                height: 40px;
                line-height: 40px;
                text-indent: 10px;
            }
            .user{
                height: 230px;
                border-bottom: 1px solid #ddd;
                .usercon{
                    ul li{
                        float: left;
                        margin: 10px;
                        font-size: 16px;
                    }
                }
            }
            .product{
                
                    ul { border: 1px solid #ccc;
                        li {
                        
                        border-bottom: 1px solid #ccc;
                         
                        span{
                            display: inline-block;
                            height:28px;
                            font-size: 16px;
                            line-height: 28px;
                        }
                        span:nth-child(2n-1){
                            border-right: 1px solid #ccc;
                            border-left: 1px solid #ccc;
                        }
                        input{
                            border: none;
                        }
                        input[type|="radio"],input[type="checkbox"]{
                            width: 40px;
                        }
                    }
                }
          
            }
            
            #teshuli{
                span{border: none;}
                .sp2 span{
                    border: none;
                    margin: 0px 20px;
                    .sp3{
                        width: 100px;
                      text-align: center;
                    }
                }
                   
                    
                   
                
            }
         
            
            .wid15{
                display: inline-block;
                width: 120px;
                text-align: center;
            }
            .usertable{
                margin-top: 20px;
                table{
                    td,th{text-align: center;}
                    td:nth-child(2){
                        color: red;
                    }
                }
            }
            .fenye{
               
                width: 530px;
                margin: 0 auto;
                .prey{
                        display: inline-block;
                        background: url(/html/web/feedback/img/page_next.png);
                        height: 30px;
                        width: 30px;
                        margin-right: 20px;
                        margin-bottom: 25px;
                    }
                    .next2{
                        display: inline-block;
                         background: url(/html/web/feedback/img/page_next2.png);
                        height: 30px;
                        width: 30px;
                        margin-left: 20px;
                        margin-bottom: 25px;
                    }
                .pagination{
                li a{
                    margin: 5px;
                }
                
               
            }
         
             .text_go{
                 margin-top: 30px;

               button{
                   width: 40px;
               }
            }
            }
           
        }
        
        .tijiao{
            text-align: center;
            width: 424px;
            height: 250px;
            h4{
                margin-top: 63px;
            }
            button{
                width:150px ;
                margin: 60px 25px;
            }
        }
    }
    #resetBtn{margin-right: 20px;}
}
