<div class="reg1">
    <img src="/register/app/img/rev/form/reg1.png"/>

    <div class="reg1-con row">
        <form ng-init="s='has-success';e='has-error';" class="col-sm-8 col-sm-offset-2" name="reg1" ng-submit="submitReg1()">
            <fieldset class="form-group
                            {{reg1.email.$valid?s:e}}{{reg1.email.$dirty?'':'-'}}
                        ">
                <label for="inputEmail3" class="col-sm-2 control-label text-right">邮件：</label>
                <div class="col-sm-7">
                    <input type="email" autofocus required class="form-control form-control-success form-control-error" placeholder="请输入邮件" ng-model="email" name="email"  ng-minlength="4">
                </div>
            </fieldset>
            <fieldset class="form-group
                            {{reg1.password.$valid?s:e}}{{reg1.password.$dirty?'':'-'}}
                        ">
                <label for="inputEmail3" class="col-sm-2 control-label text-right">密码：</label>
                <div class="col-sm-7">
                    <input type="password" autofocus required class="form-control form-control-success form-control-error" placeholder="请输入密码" ng-model="password" name="password" ng-minlength="8" ng-maxlength="20">
                </div>
            </fieldset>
            <fieldset class="form-group
                            {{reg1.captcha.$valid?s:e}}{{reg1.captcha.$dirty?'':'-'}}
                        ">
                <label for="inputEmail3" class="col-sm-2 control-label text-right">验证码：</label>
                <div class="col-sm-5">
                    <input type="text" autofocus required class="form-control form-control-success form-control-error" placeholder="请输入验证码" ng-model="captcha" name="captcha" ng-minlength="4" ng-maxlength="18">
                </div>
                <div class="col-sm-1">
                    <span style="height:38px;line-height:38px;padding:0 10px;border-radius:4px;background:#FFDDDD;border:1px solid #ccc;" class="pull-left">1234</span>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-offset-2 col-sm-10 checkbox">
                    <label><input type="checkbox" checked="checked" ng-model="agree"> 同意 <a href="">注册协议</a></label>
                </div>
                <p class="text-danger text-center">{{msg}}</p>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" ng-disabled="reg1.$invalid || !agree" class="btn btn-danger">提交</button>
            </div>
            </fieldset>
        </form>
    </div>
</div>
