*{margin:0;padding: 0;}

.wrap{
    
    h2{
        text-align: center;
    }
    .table1{
        h4{font-weight: 700;}
        table{
            border: 2px solid #000;
            tr{
               
          td{
              padding: 0;
              height: 30px;
              line-height: 30px;
              
              input{
                  border: none;
                  
                 
                  
              }
          }
        }
        }
       
    }
}
