
<div class="container reg3">
	<img src="/html/web/register/img/进度条03.png"/>
	
	<div class="reg3-con">
		<h4>填写账户信息</h4>
		<form class="form-horizontal" role="form" name="register" ng-submit="submitForm()" ng-controller="register">
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-1 control-label" name="usename"><span >*</span> 姓名：</label>
		    <div class="col-sm-3">
		      <input type="text" class="form-control"  placeholder="请输入姓名" ng-model="userdata.username"
		      	ng-class="{'form-err':register.username.$invalid && register.username.$touched ,'form-success':register.username.$valid}"
		      	name="username" required  ng-minlength ="2">
		    </div>
		    <label for="inputEmail3" class="col-sm-1 control-label"><span >*</span> 单位名称：</label>
		    <div class="col-sm-3">
		      <input type="text" class="form-control"  placeholder="请输入单位名称" ng-model="userdata.danwei"
		      	ng-class="{'form-err':register.danwei.$invalid && register.danwei.$touched ,'form-success':register.danwei.$valid}"
		      	name="danwei" required  ng-minlength ="4" >
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-1 control-label"><span >*</span> 通选地址：</label>
		    <div class="col-sm-3" >
		      <input type="text" class="form-control" id="inputPassword3" placeholder="请输入通选地址" ng-model="userdata.address"
		      	ng-class="{'form-err':register.address.$invalid && register.address.$touched ,'form-success':register.address.$valid}"
		      	name="address" required  ng-minlength ="4" >
		    </div>
		     <label for="inputEmail3" class="col-sm-1 control-label"><span >*</span> 邮编：</label>
		    <div class="col-sm-3">
		      <input type="number" class="form-control"  placeholder="请输入邮编" ng-model="userdata.youbian"
		      	ng-class="{'form-err':register.youbian.$invalid && register.youbian.$touched ,'form-success':register.youbian.$valid}"
		      	name="youbian" required  ng-maxlength ="6" ng-minlength ="6" >
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-1 control-label"><span >*</span> 电话：</label>
		    <div class="col-sm-3">
		      <input type="number" class="form-control" id="inputPassword3" placeholder="请输入电话" ng-model="userdata.tel"
		      	ng-class="{'form-err':register.tel.$invalid && register.tel.$touched ,'form-success':register.tel.$valid}"
		      	name="tel" required  ng-minlength ="7" ng-maxlength="13" >
		    </div>
		     <label for="inputEmail3" class="col-sm-1 control-label"><span >*</span> 传真：</label>
		    <div class="col-sm-3">
		      <input type="number" class="form-control"  placeholder="请输入传真" ng-model="userdata.chuanzhen"
		      	ng-class="{'form-err':register.chuanzhen.$invalid && register.chuanzhen.$touched ,'form-success':register.chuanzhen.$valid}"
		      	name="chuanzhen" required  ng-minlength ="7" ng-maxlength="20" >
		    </div>
		  </div>
		   <div class="form-group">
		    <label for="inputPassword3" class="col-sm-1 control-label"><span >*</span> 邮箱：</label>
		    <div class="col-sm-3">
		      <input type="email" class="form-control"  placeholder="请输入邮箱" ng-model="userdata.email"
		      	ng-class="{'form-err':register.email.$invalid && register.email.$touched ,'form-success':register.email.$valid}"
		      	name="email" required  ng-minlength ="7" ng-maxlength="20" >
		    </div>
		  </div>
			<div class="button">
				<button type="button" class="btn btn-danger"  ui-sref="register4"
					ng-disabled="register.username.$invalid||register.danwei.$invalid||register.address.$invalid||register.youbian.$invalid||register.tel.$invalid||register.chuanzhen.$invalid||register.email.$invalid"
					>提交</button>
			</div>
		</form>
		

	</div>
</div>

