*{margin: 0;padding: 0;}
body {
padding-top: 40px;
padding-bottom: 40px;
background: url(../img/bg.jpg) no-repeat;
font-family: "微软雅黑";

background-size:cover;
color: #C1C3C6
}
.loginForm{width:520px;
/*border:1px solid #ccc;*/

background-size:100% 100%;
height:600px;
}




.loginForm .loginbody{background: url(../img/white-bg.png) no-repeat -20px 0; background-size:cover;height: 600px;padding-top: 60px;margin: 0;}
.loginbody .form-group{margin:20px auto;width: 360px;}

.loginForm .logo{text-align: center; margin: 60px 0;}
.loginForm .username{
	width: 60px;
	display: inline-block;
	background: url(../img/user.png) no-repeat 50% 50%;
	height: 60px;
	border: 1px solid #D5D5D5;
	border-right: none;
}
.loginForm .passwo{
	font-weight: 900;
	width: 60px;
	display: inline-block;
	background: url(../img/password.png) no-repeat 50% 50%;
	height: 60px;
	border: 1px solid #D5D5D5;
	border-right: none;
}

.loginForm input{border-radius:0;height: 60px;width: 290px;letter-spacing: 1px;font-size: 18px;}

.loginForm .sign{
	text-align: center;
	margin-top: 70px;
}
.loginForm .sign .sign_btn{width: 280px;}

.loginbody .tis{
	width: 300px;
	margin:0 auto;
	font-size:20px;
	color: red;
} 

.form-group .form-success {
border: 1px solid green; }
.form-group .form-err {
border: 1px solid red; }
.form-group .form-iferr {
color: red; }

.form-group .success {
color: green; }