body {
    background: url("/login/app/img/rev/form/bg.jpg");
    font-family: "微软雅黑";
    color: #C1C3C6;
}

$addon-icon-w: 60px;

div.col-center-block {  
    margin:0 auto;
    float: none;  
}
div.login-bg {
    width: 450px;
    height: 440px;
    margin-top:6%;
    padding: 50px 70px;
    background: white;
    border-radius: 14px;
    box-shadow:4px 4px 20px #969696;
    span.logo {
        display:block;
        width: 100%;
        height: 43px;
        background:url("/login/app/img/rev/form/feedback.png") center no-repeat;
        margin-bottom: 40px;
    }
    span{
        &.username {
            width: $addon-icon-w;
            background: url("/login/app/img/rev/form/user.png") center no-repeat;
            border: 1px solid #D5D5D5;
            border-right: none;
        }
        &.password {
            font-weight: 700;
            width: $addon-icon-w;
            background: url("/login/app/img/rev/form/password.png") center no-repeat;
            border: 1px solid #D5D5D5;
            border-right: none;
        }
    }
}